/**
    Title: EMS.css
    Author: Tierre Green
    Date: April 25, 2021
    Description: EMS css
*/

#card-effects-1 {
    box-shadow: 0px 4px 8px 0px rgba(245, 245, 245, 0.445);
}

#card-effects-1:hover {
    box-shadow: 0px 8px 16px 0px rgba(245, 245, 245, 0.445);
    transition: .3s;
}