<!--
; Title: contact.ejs
; Author: Professor Richard Krasso
; Modified by: Tierre Green
; Description: contact.EJS file
-->

<body>

    <%- include ('header'); %>
    
    <%- include ('navbar'); %>
    
    <div role="main">

        <h1 class = "display-5" style= "margin-top: 20px; margin-left: 10px;">Contact Us</h1>

    </div>
  
    <%- include ('footer'); -%> 
    
    </body>  