<!--
    Title: Footer.EJS
    Author: Tierre Green
    Date: 04/25/2021
    Description: Footer.ejs
-->

<hr>

<footer>

    <p style="text-align: center; color:cornsilk"><em><strong>© Evergreen Tech, LLC 2021</strong></em></p>

</footer>