<!--
    Title: Header.EJS
    Author: Professor Krasso
    Modified by: Tierre Green
    Date: April 25, 2021
    description: Milestone header.ejs
-->

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <title><%= title %></title>

   

<!--bootstrap link for css-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"

          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<!--ems.css stylesheet created by me.-->
    <link rel="stylesheet" href="../ems.css">

</head>