<!-- 
    Title: contact.ejs
    Author: Tierre Green
    Date: April 4, 2021
    Description: ejs about file for page
-->

<!-- header included for all pages-->
<%- include('header'); -%>

<div role="main" class="container">
  <br /><br />

  <h2>Welcome to the <%= message %>!</h2>
</div>

<%- include('footer'); -%>